@import url('https://fonts.googleapis.com/css?family=Bad+Script|Fredericka+the+Great|PT+Serif+Caption|Exo');

body{
	background: #000000;
	color:#000000;
}

h2,h5{
	color:#FFFFFF;
}

.parent{
	pointer-events: automatic;
	position: absolute;
	z-index: 15;
	top: 40%;
	left: 50%;
	margin: -100px 0 0 -150px;
	color: white;
}

.child{
	width:500px;
	font-family:'Bad Script', cursive;
	display: none;
}

#ps3,#ps5{
	font-family: 'Fredericka the Great', cursive;
	font-size:80px;
}

#verse{
	font-size:15px;
}

.text1{
	padding-left:200px;
	padding-top:5px;
	float:left;
	width:70%;
	font-size:30px;
	position:fixed;
}

.text2{
	padding-left:400px;
	float:left;
	width:70%;
	font-size:30px;
	position:fixed;
}

.button{
	font-size:30px;
	font-family:'Exo', sans-serif;
	width:300px;
	height:50px;
	cursor:pointer;
	border-radius:50px;
	text-align:center;
	color: yellow;
}
