@import url('https://fonts.googleapis.com/css?family=Bad+Script|Fredericka+the+Great|PT+Serif+Caption|Exo');
body{
	background:black;
}
h2,h5{
	color:white;
}
.flexbox{
  display: flex;
  flex-wrap: wrap;
}
.psalm{
		color:black;
}
.parent{
	pointer-events: automatic;
	position: absolute;
	z-index: 15;
	top: 40%;
	left: 50%;
	margin: -100px 0 0 -150px;
	color: white;
}

.child{
	width:500px;
	font-family:'Bad Script', cursive;
	display: none;
}

#ps3,#ps5{
	font-family: 'Fredericka the Great', cursive;
	font-size:80px;
}

#verse{
	font-size:15px;
}
.text1{
	padding-top:20px;
	padding-right: 1em;
	width:70%;
	font-size:30px;
	width:50%;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}
.text2{
	font-size:30px;
	width:50%;
	margin-left: auto;
	margin-right: auto;
}
.button{
	font-size:30px;
	font-family:'Exo', sans-serif;
	width:300px;
	height:50px;
	border-radius:50px;
	text-align:center;
	color: yellow;
}
@media screen and (max-width: 767px){
	.text1{
		font-size: 100%;
		padding-top: 8px;
	}
	.text2{
		font-size: 100%;
	}
	#ps3, #ps5{
		 font-size: 190%;
	 }
	 #psalm119{
		 width:95px;
		 height:110px;
	 }
	 #verse{
		 font-size: 90%;
	 }
}
