.alert{
	font-style: italic;
	text-decoration: underline;
	cursor: pointer;
	font-size: 30px;
	color: orange;
}

.calculator{
	margin: auto;
	position: absolute;
	padding: 30px 0 0 80px;
	font-size: 50px;
	color: #006600;
	font-weight: bold;
	float:left;
	width: 60%;
}

.frog{
	right:5%;
	bottom:10%;
	position: absolute;
	overflow:hidden;
	float: left;
	width: 40%;
	z-index:-1;
}

img{
	opacity: 0.5;
}

#link{
	font-size: 15px;
}