.alert{
	font-style: italic;
	text-decoration: underline;
	cursor: pointer;
	font-size: 30px;
	color: orange;
}

img{
	width:auto;
	height:auto;
	max-width:100%;
	opacity: 0.5;
}

#link{
	font-size: 15px;
}

#output{
	color: #1D852A;
	font-size: 200%;
}

#calculator{
	padding: 30px 0 0 0;
}

 @media(max-width:767px) {
     	  .alert{
		  font-size:20px;
	  }
	  
	  #output{
		  font-size:150%;
	  }
    }

