.alert{
	font-style: italic;
	text-decoration: underline;
	cursor: pointer;
	font-size: 30px;
	color: orange;
}

.col-3{
	margin: auto;
	position: absolute;
	padding: 30px 0 0 80px;
	font-size: 50px;
	color: #006600;
	font-weight: bold;
	float:left;
	width: 60%;
}

.col-4{
	right:5%;
	bottom:10%;
	position: absolute;
	float: left;
	width: 40%;
	z-index:-1;
}

img{
	opacity: 0.5;
}

#link{
	font-size: 15px;
}

@media only screen and (max-width: 768px){
	p#output{
		font-size: 11pt;
	}
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 599px)
  and (-webkit-min-device-pixel-ratio: 2) {
	h1,h2,h3,h4,h5,h6{
		font-size: 10pt;
	}
	p#output{
		font-size: 9pt;
	}
}