@import url('https://fonts.googleapis.com/css?family=Exo');

#clock{
	font-family: 'Exo', sans-serif;
	height: 90px;
	width: 600px; 
	margin: 0 auto;
	text-align: center;
	font-size: 70px;
	font-weight:bold;
	color: #FFFFFF;
	border-color: #6495ED;
	border-radius: 100px;
	background: rgb(153, 0, 153);
	text-shadow: 2px 2px 1px #000000;
	box-shadow: 1px 0 0 #ffff99,   0 1px 0 #ffff99, 
				2px 1px 0 #ffff99, 1px 2px 0 #ffff99,
				3px 2px 0 #ffff99, 2px 3px 0 #ffff99,
				4px 3px 0 #ffff99, 3px 4px 0 #ffff99,
				5px 4px 0 #ffff99, 4px 5px 0 #ffff99,
				5px 5px 3px #000;
	padding: 30px;	
}

#image{
	float:right;
	width:70%;
}

#text{
	float:right;
	width:30%;
	color:#FFFFFF;
}

#container{
	border: dotted;
	border-color: #000000;
	padding: 40px;
	height: 160px;
}

#context{
	color: #940978;
	font-weight: bold;
}

.graduation{
	font-family: 'Exo', sans-serif;
	font-size: 30px;
	left:35%;
	top: 30px;
	position: relative;
	color: #F39C12;
	cursor: pointer;
	height: 45px;
	width: 350px; 
	text-align: center;
	border-color: #6495ED;
	border-radius: 50px;
	background: rgb(255,250,250);
}