@import url('https://fonts.googleapis.com/css?family=Exo');

body{
	background: #ffffcc;
	padding: 30px 40px 40px 40px;
	margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p{
	font-family: 'Exo', sans-serif;
}

footer{
	position:fixed;
	left:10px;
	bottom:20px;
	height:40px;
	width:100%;
	font-size: 80%;
}
	