@import url('https://fonts.googleapis.com/css?family=Exo');

* {
    box-sizing: border-box;
}

body{
	background: #ffffcc;
	padding: 30px 40px 40px 40px;
	margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p{
	font-family: 'Exo', sans-serif;
}

footer{
	position:fixed;
	left:10px;
	bottom:20px;
	height:40px;
	width:100%;
	font-size: 80%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

@media screen and (max-width: 768px){
	img{
		width: 80%;
		height:auto;
	}
}

/* ----------- phone ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
	
	img{
		width: 40%;
		height: auto;
	}
}

/* ----------- tablet ----------- */
@media only screen
  and (min-device-width: 768px) 
  and (max-device-width: 1024px){
	
	
}