@import url('https://fonts.googleapis.com/css?family=Exo');

body{
	font-family: 'Exo', sans-serif;
	background: #ffffcc;
	padding: 30px 40px 40px 40px;
	margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p{
	font-family: 'Exo', sans-serif;
}

footer{
	font-size: 80%;
	bottom:0;
}

h2{
	font-weight: bold;
}

#header{
	padding-bottom: 30px;
}

@media screen and (min-width:1024px){
	body{
		width: 1024px;
	}
}
