@import url('https://fonts.googleapis.com/css?family=Monoton');
body {
	text-align: center;
}
h1 {
	font-family: Monoton;
	font-size: 70px;
	margin: 0.2em;
}
h2 {
	margin: 1em 0 0.25em;
}
h2:first-of-type {
	margin-top: 0.5em;
}
table, tr, td {
	border: 1px solid black;
}
table {
	border-collapse: collapse;
	margin: 0 auto;
}
tr {
	height: 20px;
}
td {
	width: 20px;
}
input[type="number"] {
	width: 6em;
}
.disclaimer {
	max-width: 80%;
	margin: auto;
	padding-bottom: 2em;
}
@media screen and (max-width: 375px) {
	h1, h2 {
		font-size: 100%;
	}
}
@media screen and (min-width: 376px) and (max-width:768px) {
	h1 {
		font-size: 50px;
	}
}
